@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  background-color: hsl(212, 45%, 89%);
}

.my-custom-shadow {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.attribution{
  padding: 15px;
  font-size: 11px;
  font-weight: 400;
  text-align: center;
  color: hsl(hsl(228, 45%, 44%));
}

.attribution a{
  color: hsl(228, 45%, 44%);
}

.attribution a:hover{
  color: hsl(218, 44%, 22%);
}